div{
    display: inline-block;
    text-align: center;
}
img{
    display: block;
    border-radius: 50%;
}
body{
    /* background-image: url('/back.jpg'); */
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    background-color: rgb(238, 211, 161);
}